@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}

.main-heading {
    font-size: 5rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.content-container {
    font-size: 1.2rem;
    padding: 0 50px;
}

.content-container:last-child {
    padding-bottom: 30px;
}

.sub-heading {
    padding: 30px 0;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 30px;
}

.border-image {
    border: 0.1em solid black;
}

.example-points {
    padding-left: 100px;
    padding-bottom: 30px;
}

.content-bottom {
    padding-bottom: 30px;
}