@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

:root {
    --font-color: #f0f0f0;
    --black-background: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black-background);
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    font-size: 20px;
}

#navbar a {
    text-decoration: none;
    color: var(--font-color);
    margin: 20px;
    text-align: center;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--black-background), #33336f);
    height: 100vh;
    width: 100vw;
}

h1 {
    color: var(--font-color);
    font-size: 10vw;
}

p {
    font-size: 2vw;
    font-weight: 600;
}

#projects {
    background-color: #101029;
    width: 100vw;
}

#projects-con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 4vw;
    padding: 5.5vw 3vw;
}

#projects h2 {
    color: var(--font-color);
    text-align: center;
    border-bottom: solid var(--font-color) 2px;
    padding-top: 5.5vw;
    margin: 0 32vw;
    font-size: 2vw;
}

a {
    text-decoration: none;
}

a img {
    width: 30vw;
    height: 20vw;
    display: block;
}

.project-title {
    background-color: #303841;
    color: var(--font-color);
    width: 30vw;
    padding: 1.2vw 0;
    text-align: center;
    font-size: 1.5vw;
}

.project:hover {
   opacity: 40%;
}

#contact {
    display: flex;
    align-items: center;
    background-color: var(--black-background);
    width: 100vw;
}

.contact-me {
    font-size: 2.5vw;
    padding-left: 1.5vw;
    width: 80%;
    color: var(--font-color);
}

.contact-apps {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    padding: 1.5vw 0;
}

.profile-link {
    font-size: 4vw;
    color: var(--font-color);
}