body {
    margin: 0;
    padding: 0;
}

header {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    background-color: #eee;
}

.img-con {
    width: 70%;
}

#header-img {
    height: 100%;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 815px) {
    #nav-bar {
        max-height: 275px;
    }
}

#nav-bar {
    width: 30%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul {
    justify-content: space-around;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}

#register {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#register p {
    font-size: 30px;
    font-weight: 600;
    width: 100%;
}

#email {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

#submit {
    font-size: 15px;
    width: 50%;
    color: white;
    background-color: black;
    font-weight: 600;
}

#features {
    width: 100%;
    margin: 40px 0;
    font-size: 18px;
}

.feature {
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: left;
    justify-content: center;
    margin-top: 20px;
}

.description {
    width: 60%;
    height: 120px;
}

.icon {
    display: flex;
    height: 120px;
    width: 10%;
    align-items: center;
    justify-content: center;
}

#how-it-works {
    display: flex;
    justify-content: center;
    margin: 80px;
}

#video {
    width: 56%;
    height: 350px;
}

#pricing {
    display: flex;
    justify-content: space-evenly;
}

.item {
    border: black solid 0.5px;
    margin: 0 20px;
    width: 25%;
    text-align: center;
}

.item-name {
    background-color: #eee;
    font-weight: 400;
    font-size: 21px;
    padding: 10px 0;
}

.price {
    font-weight: 600;
    padding-top: 20px;
    font-size: 25px;
}

.item ol {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

.item button {
    background-color: black;
    color: white;
    width: 40%;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 25px;
}

footer {
    background-color: #eee;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 50px;
}

footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}

footer > ul > li {
    margin-left: 20px;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}